<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <link rel="icon" href="./favicon.ico" />

    <title>Muhammad Fajrul Khaq</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary position-sticky sticky-top m-0"
    >
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav gap-3 offset-1">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="#/about">About</a>
            <a class="nav-link" href="#/skills">Skills</a>
            <a class="nav-link" href="#">Project</a>
            <a class="nav-link" href="#">Contact</a>
          </div>
        </div>
        <div class="dropdown mx-3 darkmode">
          <button
            class="btn nav-link dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              class="bi bi-sun-fill theme-icon-active"
              data-theme-icon-active="bi-sun-fill"
            ></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                class="dropdown-item d-flex align-items-center"
                type="button"
                data-bs-theme-value="light"
              >
                <i
                  class="bi bi-sun-fill me-2 opacity-50"
                  data-theme-icon="bi-sun-fill"
                ></i>
                Light
              </button>
            </li>
            <li>
              <button
                class="dropdown-item d-flex align-items-center"
                type="button"
                data-bs-theme-value="dark"
              >
                <i
                  class="bi bi-moon-fill me-2 opacity-50"
                  data-theme-icon="bi-moon-fill"
                ></i>
                Dark
              </button>
            </li>
            <li>
              <button
                class="dropdown-item d-flex align-items-center"
                type="button"
                data-bs-theme-value="auto"
              >
                <i
                  class="bi bi-circle-half me-2 opacity-50"
                  data-theme-icon="bi-circle-half"
                ></i>
                Auto
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main content -->
    <main id="mainContent"></main>
    <!-- Akhir main content -->

    <!-- Footer -->

    <footer class="footer border-top bg-body-tertiary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="m-2 text-center">
              Copyleft &#127279; 2023 - Made with ❤️ by MuhammadFajrulKhaq
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
