@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import "aos/dist/aos.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.logo {
  width: 200px;
  height: 300px;
}

.content h3 {
  font-size: 1.5em;
}

#hero {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
}

.skill {
  color: lightgray;
  background-color: #0a2647;
}

#element {
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgba(65, 88, 208, 1) 0%,
    rgba(200, 80, 192, 1) 46%,
    rgba(255, 204, 112, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

p {
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.tech {
  width: 200px;
  height: 160px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px,
    rgba(0, 0, 0, 0.05) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 7px 7px -5px;
  border-radius: 24px !important;
  padding: 24px;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 576px) {
  #skills {
    margin: 25px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    order: 2;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .profil {
    order: 2;
  }
}

@media screen and (min-width: 992px) {
  .darkmode {
    order: 2;
  }
}
